* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
    padding: 75px;
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.container {
    margin: 0 auto;
}

.main-content {
    margin-bottom: 200px;
}

.intro-text {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 50px;
}

.intro-text strong {
    font-weight: 600;
    color: #2f5d10;
}

.signature {
    font-size: 24px;
    line-height: 1.2;
}

.signature-line {
    margin-bottom: 4px;
}

.footer-text {
    position: absolute;
    bottom: 70px;
    left: 75px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.footer-text a {
    color: #2f5d10;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}

.wave-decoration {
    position: absolute;
    bottom: 60px;
    right: -50px;
    width: 300px;
    height: 60px;
    opacity: 0.4;
}

.wave-decoration img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    body {
        padding: 35px 25px;
        font-size: 18px;
    }

    .main-content {
        margin-bottom: 120px;
    }

    .intro-text {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .signature {
        font-size: 18px;
    }

    .footer-text {
        bottom: 40px;
        left: 25px;
        width: calc(100% - 40px);
        font-size: 18px;
    }

    .wave-decoration {
        bottom: 30px;
        right: -20px;
        width: 150px;
        height: 30px;
        z-index: -1;
    }
}